.nav-container {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.nav-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2em;
}

.nav-title {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0;
    color: white;
    opacity: 0.3;
    cursor: pointer;
    text-decoration:none;
}

.nav-title:hover {
    opacity: 1;
}

.selected .nav-title {
    opacity: 1;
}

.nav-label {
    width: 50px;
}

.selected .nav-label {
    border: 1px solid #b5e853;
}

@media only screen and (max-width: 700px) {
    .nav-container {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    }
    
    .nav-option {
        align-items: flex-start;
        padding: 20px 0;
        font-size: 1.5em;
    }
}
